# DCS 550 Data Mining (DSC550-T302 2227-1)
## Bellevue University
## 1.2 Exercise: Exploring a Pandas Data Frame
## Author: Jake Meyer
## Date: 06/11/2022

## Assignment Instructions:
Download the Video Game Sales with Ratings dataset from this link:
[Vidoe Game Sales with Ratings](https://www.kaggle.com/datasets/rush4ratio/video-game-sales-with-ratings)
<ol>
    <li> Load the dataset as a Pandas data frame.
    <li> Display the first ten rows of data.
    <li> Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?
    <li> Find the top five games by critic score.
    <li> Find the number of video games in the data frame in each genre.
    <li> Find the first five games in the data frame on the SNES platform.
    <li> Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.
    <li> Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.
    <li> Find the number NaN entries (missing data values) in each column.
    <li> Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.
<ol>

In [1]:
'''
Import the necessary libraries to complete Exercise 1.2. (pandas and numpy)
'''
import numpy as np
import pandas as pd

In [2]:
'''
Check the versions of the packages.
'''
print('numpy version:', np.__version__)
print('pandas version:', pd.__version__)

numpy version: 1.20.3
pandas version: 1.3.4

## 1. Load the data set as a Pandas data frame.

In [3]:
'''
Import the data from Video_Games_Sales_as_at_22_Dec_2016.csv
Note: A copy of the CSV file was placed into the same directory as this notebook.
Utilize pd.read_csv() to read the file as a pandas data frame.
'''
df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

## 2. Display the first ten rows of data.

In [4]:
'''
Use head() function to display the first 10 rows of data of df.
'''
df.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

## 3. Understand the shape of the data frame.

In [5]:
'''
Utilize .shape to understand the number of rows and columns of the data frame.
'''
df.shape

(16719, 16)

In [6]:
'''
Print a clarifying statement from the shape output above.
'''
print('There are {} rows and {} columns in the data frame.'.format(df.shape[0], df.shape[1]))

There are 16719 rows and 16 columns in the data frame.

Within an array or tabular form of data, the rows represent the horizontal orientation of the data. The columns represent the vertical orientation of the data. From the course textbook *Machine Learning with Python Cookbook*, a row refers to an observation and a column refers to a feature. Columns typically contain a name (or header) and rows utilize index numbers which are used to specify locations of observations and features.

## 4. Find the top five games by critic score.

In [7]:
'''
Sort df by "Critic_Score" and show the top 5 rows.
Utilize sort_values() and head().
'''
df.sort_values(by = 'Critic_Score', axis = 0, ascending = False).head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,Activision,3.05,1.41,0.02,0.20,4.68,98.0,19.0,7.7,299.0,Neversoft Entertainment,T
57,Grand Theft Auto IV,PS3,2008.0,Action,Take-Two Interactive,4.76,3.69,0.44,1.61,10.50,98.0,64.0,7.5,2833.0,Rockstar North,M
51,Grand Theft Auto IV,X360,2008.0,Action,Take-Two Interactive,6.76,3.07,0.14,1.03,11.01,98.0,86.0,7.9,2951.0,Rockstar North,M
5350,SoulCalibur,DC,1999.0,Fighting,Namco Bandai Games,0.00,0.00,0.34,0.00,0.34,98.0,24.0,8.8,200.0,Namco,T
165,Grand Theft Auto V,XOne,2014.0,Action,Take-Two Interactive,2.81,2.19,0.00,0.47,5.48,97.0,14.0,7.9,764.0,Rockstar North,M

## 5. Find the number of video games in the data frame from each genre.

In [8]:
'''
Use value_counts() to confirm the number of video games for each genre in the data frame.
'''
df['Genre'].value_counts()

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64

In [9]:
'''
Verify the previous finding from value_counts() by attempting an alternative method.
Try using groupby().count() to retreive a similar output.
'''
df.groupby('Genre')['Name'].count()

Genre
Action          3370
Adventure       1303
Fighting         849
Misc            1750
Platform         888
Puzzle           580
Racing          1249
Role-Playing    1500
Shooter         1323
Simulation       874
Sports          2348
Strategy         683
Name: Name, dtype: int64

## 6. Find the first five games in the data frame on the SNES platform.

In [10]:
'''
Use boolean conditions to find the first five games in the data frame df.
'''
df[df['Platform'] == 'SNES'].head(5)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
18,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61,NaN,NaN,NaN,NaN,NaN,NaN
56,Super Mario All-Stars,SNES,1993.0,Platform,Nintendo,5.99,2.15,2.12,0.29,10.55,NaN,NaN,NaN,NaN,NaN,NaN
71,Donkey Kong Country,SNES,1994.0,Platform,Nintendo,4.36,1.71,3.00,0.23,9.30,NaN,NaN,NaN,NaN,NaN,NaN
76,Super Mario Kart,SNES,1992.0,Racing,Nintendo,3.54,1.24,3.81,0.18,8.76,NaN,NaN,NaN,NaN,NaN,NaN
137,Street Fighter II: The World Warrior,SNES,1992.0,Fighting,Capcom,2.47,0.83,2.87,0.12,6.30,NaN,NaN,NaN,NaN,NaN,NaN

## 7. Find the five publishers with the highest total global sales. Note: Calculate the total global sales for each publisher to do this.

In [11]:
'''
Utilize groupby() and sum() to calculate the sum of the total global sales for each publisher.
'''
publisher_sales = df.groupby('Publisher')['Global_Sales'].sum()

In [12]:
'''
Understand the publisher_sales with head().
'''
publisher_sales.head(10)

Publisher
10TACLE Studios                  0.11
1C Company                       0.10
20th Century Fox Video Games     1.94
2D Boy                           0.04
3DO                             10.12
49Games                          0.03
505 Games                       55.32
5pb                              1.66
7G//AMES                         0.06
989 Sports                       0.38
Name: Global_Sales, dtype: float64

In [13]:
'''
Sort publisher_sales for the top 5 with sort_values() and head().
'''

publisher_sales.sort_values(axis = 0, ascending = False).head(5)

Publisher
Nintendo                       1788.81
Electronic Arts                1116.96
Activision                      731.16
Sony Computer Entertainment     606.48
Ubisoft                         471.61
Name: Global_Sales, dtype: float64

## 8. Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.

In [14]:
'''
Create a new column "percentage_northamerica_sales" by calculating the ratio of North
America Sales to Global Sales.
Use round() to place the calculated result to the hundredth decimal.
'''
df['percentage_northamerica_sales'] = round((df['NA_Sales'] / df['Global_Sales'])*100, 2)

In [15]:
'''
Review df to ensure the new column was created.
Show the first 5 rows as specified in the assignment.
'''
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,percentage_northamerica_sales
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E,50.12
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,72.27
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.14
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E,47.64
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,35.93

## 9. Find the number of NaN entries (missing data values) in each column.

In [16]:
'''
Utilize isna() and sum() to find the number of NaN values in each column.
'''
df.isna().sum()

Name                                2
Platform                            0
Year_of_Release                   269
Genre                               2
Publisher                          54
NA_Sales                            0
EU_Sales                            0
JP_Sales                            0
Other_Sales                         0
Global_Sales                        0
Critic_Score                     8582
Critic_Count                     8582
User_Score                       6704
User_Count                       9129
Developer                        6623
Rating                           6769
percentage_northamerica_sales       0
dtype: int64

## 10. Try to calculate the median user score of all the video games. An error will surface due to some of the user score entries being non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.

In [17]:
'''
Attempt to calculate the median user score, "User_Score", of all the video games.
This will result in an error.
'''
df['User_Score'].median()

TypeError: could not convert string to float: 'tbd'

In [18]:
'''
Show a "tbd" string value in the "User_Score" column for evidence.
Note 16710 is "tbd".
'''
df['User_Score'].tail(10)

16709    5.8
16710    tbd
16711    NaN
16712    NaN
16713    NaN
16714    NaN
16715    NaN
16716    NaN
16717    NaN
16718    NaN
Name: User_Score, dtype: object

In [19]:
'''
There are missing values as NaN along with "tbd" string entries.
Use replace("tbd", np.nan) to convert the string to a NaN for User_Score.
'''
df['User_Score'].replace('tbd', np.nan, inplace = True)

In [20]:
'''
Show evidence the "tbd" string was replaced with an NaN value "User_Score".
Note index number 16710 changed to NaN.
'''
df['User_Score'].tail(10)

16709    5.8
16710    NaN
16711    NaN
16712    NaN
16713    NaN
16714    NaN
16715    NaN
16716    NaN
16717    NaN
16718    NaN
Name: User_Score, dtype: object

In [21]:
'''
Calculate the median value of "User_Score" column.
'''
median_score = df['User_Score'].median()
print('The median User Score is: {}.'.format(median_score))

The median User Score is: 7.5.

In [22]:
'''
Replace all NaN values with the median score.
'''
df['User_Score'].replace(np.nan, median_score, inplace = True)

In [23]:
'''
Show the last 10 entries as evidence of the change with tail(10).
'''
df['User_Score'].tail(10)

16709    5.8
16710    7.5
16711    7.5
16712    7.5
16713    7.5
16714    7.5
16715    7.5
16716    7.5
16717    7.5
16718    7.5
Name: User_Score, dtype: object

In [24]:
'''
Show there are no additional NaN values in the "User_Score" column.
'''
df['User_Score'].isna().sum()

0